.header {
    background-color: #37353E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    color: #D3DAD9;
    font-family: 'MyFont', sans-serif;
    padding: 0 10em;

    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 1.3em;

        img {
            max-height: 90px;
        }
    }
    .logoContainer:hover {
        cursor: pointer;
        color: rgba(211, 218, 217, 0.5);
    }


    .navbarList {
        display: flex;
        gap: 2em;

        .navbarItem {
            a {
                span {
                    color: #E9B63B;
                }
            }
        }
        .navbarItem a:hover, a span:hover {
            cursor: pointer;
            color: rgba(211, 218, 217, 0.5);
        }
        .navbarItem:last-child a {
            padding: .2em .5em;
            border-radius: 15px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .navbarItem:last-child a:hover {
            background-color: #E9B63B;
            color: #37353E;
        }

    }
}

a {
    color: #D3DAD9;
}