.header {
    background: #131313;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    font-size: 14px;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 90px;
    font-size: 20px;

    img {
        border-radius: 50%;
        height: 90px;
    }

    p {
        font-family: 'MyFont', sans-serif;
        color: #dbd7d2;
    }
}

ul {
    align-self: center;
    font-family: 'MyFont', sans-serif;
    font-size: 14px;

    a {
        color: #a5a5a5;
        cursor: pointer;
    }

    span {
       color: #fff680;
    }
}
