.header {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    background: var(--third-color);
    border-bottom: 1px solid var(--first-color);

    .left {
        display: flex;
        gap: 20px;
        .logoContainer {
            display: flex;
            align-items: center;
            color: #D3DAD9;
            font-size: var(--big-font-size);
            img {
                height: 60px;
                width: 60px;
            }
        }
        .headerList {
            display: flex;
            align-items: center;
            gap: 10px;
            .headerItem {
                a {
                    color: rgba(211, 218, 217, 0.5);
                }
                a:hover {
                    color: rgba(211, 218, 217, 0.8);
                }
            }
        }
    }
    .right {
        display: flex;
        gap: 20px;
        align-items: center;
        color: var(--first-color);

        .profile {
            cursor: pointer;
        }
        .logout {
            padding: var(--button-padding);
            text-decoration: none;
            font-family: var(--main-font-family);
            border: 1px solid rgba(0, 0, 0, 0);
            background: none;
            color: var(--first-color);
            border-radius: var(--main-border-radius);
        }
        .logout:hover {
            cursor: pointer;
            border: 1px solid var(--first-color);
        }
        .premium {
            padding: var(--button-padding);
            background: #E9B63B;
            border-radius: var(--main-border-radius);
            font-size: var(--main-font-size);
        }

    }

}