.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .wrapper {
        max-width: 400px;
        padding: 2em;
        border: 1px solid black;
        font-size: var(--main-font-size);
        display: flex;
        flex-direction: column;
        gap: 20px;

        .logoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: var(--big-font-size);
            img {
                height: 70px;
                width: 70px;
            }
        }
        .loginForm {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            .loginItem {
                padding: var(--input-padding);
                min-width: 300px;
            }
            .errorMessage {
                color: red;
            }
            .loginButton {
                padding: var(--button-padding);
            }
        }
    }
}