.footer {
    height: 50px;
    background: white;
    padding: 1em;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #969696;
    font-family: 'MyFont', sans-serif;
    font-size: .8em;
    font-weight: lighter;
    cursor: default;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 20px;

    ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        li {
            a {
                color: #969696;
                cursor: pointer;
            }
            .stick {
                height: 100%;
                border-left: 2px solid grey;
            }

        }
    }

    p {
        cursor: pointer;
    }
}


