@font-face {
    font-family: 'MyFont';
    src: url('/src/assets/fonts/MPLUSRounded1c-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    min-height: calc(100vh - 90px - 50px);
    flex: 1;
    z-index: -999;
}
