.main {
    background-color: var(--third-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.1'/%3E%3C/svg%3E");
    background-size: 200px 200px;
    z-index: 1;
}

.hero {
    display: flex;
    min-height: calc(100vh - var(--landing-header-height) - var(--landing-footer-height));
    .left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .heroTextBlock {
            max-width: 70%;
            text-align: center;
            color: var(--four-color);
            font-size: var(--main-font-size);
            font-weight: lighter;
            gap: 20px;
            cursor: default;

            .headerForHero {
                font-size: var(--big-font-size);
                color: var(--first-color);
            }
            a {
                display: inline-block;
                margin-top: 10px;
                padding: var(--button-padding);
                border-radius: var(--main-border-radius);
                background-color: var(--first-color);
                border: 1px solid var(--first-color);
                color: #969696;
                transition: background-color 0.3s ease, color 0.3s ease;
            }
            a:hover {
                background: none;
                color: var(--first-color);
            }
        }
    }
}
.hero > * {
    position: relative;
    z-index: 1;
}

.hero:before {
    content: "";
    inset: 0;
    background-image:
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/cross.png"),
            url("src/assets/images/wreath.png"),
            url("src/assets/images/wreath.png"),
            url("src/assets/images/wreath.png"),
            url("src/assets/images/sheet.png"),
            url("src/assets/images/sheet.png"),
            url("src/assets/images/circle.png"),
            url("src/assets/images/circle.png");
    background-repeat: no-repeat;
    background-position:
            10% 20%,
            40% 100%,
            70% 30%,
            90% 80%,
            80% 60%,
            30% 60%,
            34% 20%,
            10% 85%,
            90% 10%,
            65% 90%;
    background-size:
            40px,
            50px,
            60px,
            70px,
            80px,
            35px,
            100px,
            65px,
            110px,
            65px;
    pointer-events: none;
    opacity: 0.04;
    z-index: 0;
    position: absolute;
}

.howItWork {
    position: relative;
    min-height: calc(100vh - var(--landing-header-height) - var(--landing-footer-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--first-color);
    gap: 20px;
    z-index: 1;

    .headerForHowItWork {
        font-size: var(--big-font-size);
        cursor: default;
    }
    .blockCards {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;

        .card {
            position: relative;
            border-radius: 25px;
            padding: 5em;
            transition: .5s ease;
            max-width: 350px;
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            .title {
                font-size: var(--main-font-size);
            }
            .description {
                font-size: var(--min-font-size);
                color: var(--four-color);
            }
        }
        .card:hover {
            cursor: pointer;
            box-shadow: rgba(150, 150, 150, 0.02) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
        .cardCreate:before {
            content: "";
            inset: 0;
            background-image:
                    url("src/assets/images/wreath.png"),
                    url("src/assets/images/wreath.png"),
                    url("src/assets/images/wreath.png"),
                    url("src/assets/images/wreath.png");
            background-repeat: no-repeat;
            background-position:
                    10% 80%,
                    40% 100%,
                    70% 30%,
                    30% 30%;
            background-size:
                    30px,
                    25px,
                    24px,
                    34px;
            pointer-events: none;
            z-index: 0;
            position: absolute;
            opacity: 0.1;
        }
        .cardNotification:before {
            content: "";
            inset: 0;
            background-image:
                    url("src/assets/images/sheet.png"),
                    url("src/assets/images/sheet.png");
            background-repeat: no-repeat;
            background-position:
                    90% 80%,
                    50% 30%;
            background-size:
                    50px,
                    44px;
            pointer-events: none;
            z-index: 0;
            position: absolute;
            opacity: 0.3;
        }
        .cardPlan:before {
            content: "";
            inset: 0;
            background-image:
                    url("src/assets/images/cross.png"),
                    url("src/assets/images/cross.png"),
                    url("src/assets/images/cross.png");
            background-repeat: no-repeat;
            background-position:
                    10% 20%,
                    40% 100%,
                    70% 30%;
            background-size:
                    30px,
                    35px,
                    24px;
            pointer-events: none;
            z-index: 0;
            position: absolute;
            opacity: 0.1;
        }
    }
}

.howItWork:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("src/assets/images/homeSectionHowItWorks.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 120%;
    z-index: 0;
}

.howItWork > * {
    position: relative;
    z-index: 1;
}

.prices {
    display: flex;
    min-height: calc(100vh - var(--landing-header-height) - var(--landing-footer-height));
    background-color: black;
    position: relative;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: var(--first-color);
    padding: 2em;

    .headerForPrices {
        font-size: var(--big-font-size);
        cursor: default;
    }

    .pricesTable {
        display: table;
        width: 60%;
        max-width: 1200px;
        max-height: 400px;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        border-radius: var(--main-border-radius);
        font-size: var(--main-font-size);
        box-shadow: 0 20px 40px rgba(0,0,0,0.5);
        transform: perspective(1500px) rotateY(15deg);
        transition: transform 2s ease 0s;
        cursor: pointer;

        .tableRow td, .tableHeader th {
            padding: 1em 2em;
            text-align: start;
        }

        .redHeader {
            border: 4px solid rgba(221, 45, 74, 0.2);
            border-top-left-radius: var(--main-border-radius);
        }

        .blueHeader {
            border: 4px solid rgba(102, 155, 188, 0.2);
        }

        .greenHeader {
            border-top-right-radius: var(--main-border-radius);
            border: 4px solid rgba(51, 92, 103, 0.2);
        }

        .tableHeader {
            height: 60px;
        }
        .tableRow {
            display: table-row;
        }

    }
    .pricesTable tr:last-child td {
        border-bottom: none;
    }
    .pricesTable td:last-child {
        border-right: none;
    }
    .pricesTable:hover {
        transform: perspective(3000px) rotateY(0deg);
    }
}

.prices:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
            url("src/assets/images/teeth.png"),
            url("src/assets/images/face.png");
    background-repeat: no-repeat;
    background-position:
            90% 100%,
            0 -20%;
    opacity: 0.5;
    z-index: 0;
}
.prices > * {
    position: relative;
    z-index: 1;
}

.functionality {
    min-height: calc(100vh - var(--landing-header-height) - var(--landing-footer-height));
    position: relative;
    color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .headerForFunctionality {
        font-size: var(--main-font-size);
        cursor: default;
    }

    .functionalityList {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .left {
        justify-content: start;
    }
    .right {
        justify-content: end;
    }
    .functionalityItem {
        padding: 1em;
        width: 100%;
        transform: perspective(1500px) rotateX(-360deg);
        transition: transform 1s ease 0s;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        font-size: var(--main-font-size);
    }
    .functionalityItem:hover {
        cursor: pointer;
        transform: perspective(3000px) rotateX(0deg);
    }
    .functionalityItemContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}
.functionality:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
            url("src/assets/images/homeFunctionality.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    z-index: 0;
}
.functionality > * {
    position: relative;
    z-index: 1;
}
